*{
    font-family: "Roboto Condensed", sans-serif;
}
body{
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
}

.se{
background-color: #131313;
width: 650px;
height: 100vh;
padding-left: 30px;
display: flex;
justify-content: center;
border-radius: 25px;
}
.profile-image{
    text-align: center;
}
.profile-image img{
    width: 100px;
    border-radius: 50%;
}
.profile-image h1 ,p{
color: #ffffff;

}
.profile-image h3{
    color: #cd9b04;
}
 .links a{
    display: block;
  background-color:#201e1ee3 ;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding:5px 200px;
  margin: 15px ;
  text-decoration: none;
  border-radius: 15px; 
}
@media(max-width:786px){
    body{
        display: block;
        padding: 50px;
    }
    .se{
        width:100% ;
    }
    .links a {
        padding:10px ;
    }
}